h2 {
    background-color: grey;
  }
  h1 {
    text-align: center;
  }
  body {
    margin-left: 500px;
    margin-right: 400px;
  }
  
  .parrafo{
   display: inline;
   text-align:end;  


}
  .img {
    width: 105px;
    height: 150px;
    float:left;
  }
  .img2 {
    width: 90px;
    height: 120px;
    float: left;
  }